.textarea-no-scrollbar {
    resize: none;
    overflow: hidden;
  }
  
textarea.resize-none {
    resize: none !important;
    box-shadow: none !important;
    border-radius: 6px !important;
}

.logout-button {
    font-size: 0.5rem; /* Adjust the font size as needed */
    padding: 0.5rem 0.5rem; /* Adjust the padding to decrease the height */
    line-height: 0.5; /* Set the line height to 1 to reduce any extra space */
}
  