.textarea-no-scrollbar {
    resize: none;
    overflow: hidden;
  }
  
textarea.resize-none {
    resize: none !important;
    box-shadow: none !important;
    border-radius: 6px !important;
}
 .msg-color {
  color: rgb(58, 134, 135);
 }

 .message-container {
  display: inline-block;
 
  flex-direction: column;
  padding: 10px;
  background-color: black;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* .message-box {
  padding: 10px;
  background-color: ;
  border-radius: 5px;
  margin-bottom: 10px;
} */
/* 
.bgg-clr {
  color: rgb(74, 122, 127);
 } */

  